script(src='/static/lib/jquery.js')
script(src='/static/lib/underscore.js')
script(src='/static/lib/backbone.js')
script(src='/static/lib/socket.io.js')
script(src='/static/models.js')
script(src='/static/room.js')