html
	head
		include head
		link(rel='stylesheet', type='text/css', href='/static/room/skin/luna.css')
	body
		#header
			#title lunatube.tv
			#links
			#login
				input#username(placeholder="username")
				input#password(placeholder="password",type="password")
				#login_btn login
				#register_btn register
		#ticker
			#title mlpforums \\
			#link new news huehuehue
		#theater
			#player
				#stage
				#controls
			#chat
				#banner
					#title
					#buttons
						#cams
						#users
				#userlist
				#messages
				#input
		#playlist
			#banner
				#tabs
					#queue
					#playlist
				#buttons
					#add
					#import
					#clear
			#videos
		#footer


